a
{
	color: #22BCE0;
}
body
{
	background: #EEEEEE;
	font-family: Arial;
	font-size: 16px;
}
figure
{
	margin: 0;
}
header
{
	background: #344B54;
	color: white;
}
header #avatar img
{
	border-radius: 50%;
	width: 55px;
}
header #logo img
{
	width: 52px;
}